.about-section{
    background: url(../Images/AboutUsBg.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    /* padding: 100px 0; */
}

.about-inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.about-inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.about-text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px){
    .about-inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .about-inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-about-section{
        padding: 0;
    }
    .about-inner-container{
        padding: 60px;
    }
}