*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
   text-align: center;
   margin: 30px 0;
}

.login-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-lg-container{
    width: 400px;
}

.login-svg{
    height: 400px;
    width: 400px;
    align-self: center;
    justify-self: center;
    margin-left: 10%;
}

.login-label{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    text-transform: uppercase;
    margin: 10px 0;
    line-height: 2rem;
}

.login-input{
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    max-width: 100%;
    border-radius: 5px;
}

.login-label-checkbox{
    line-height: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 0 10px; */
}

.login-label-checkbox span{
    line-height: 3rem;
    text-transform: uppercase;
    padding-top: -10px;
}

.login-input-checkbox{
    height: 1.05rem;
    width: 1.05rem;
    margin: 0 5px 0 0;
}

.login-forgot-pass{
    flex: 1;
    text-align: end;
    font-size: 0.7rem;
    text-transform: none;
}

.login-input:focus-visible{
    outline: none;
}

.login-sign-up, .login-login, .login-login-with-google{
    width: 100%;
    height: 55px;
    margin: 10px 0;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all .5s;
}

.login-login{
    background: linear-gradient(270deg, #7F7CFC 30%, #587CFC 50%);
    box-shadow: 0px 10px 10px -1px #B0AFD9;
    color: #fff;
    font-weight: 700;
    border: none;
    transition: all .5s;
}

.login-login-with-google{
    background: red;
    box-shadow: 0px 10px 10px -1px rgba(255, 0, 0, 0.4);
    color: #fff;
    font-weight: 700;
    border: none;
    transition: all .5s;
}

.login-login-with-google:hover{
    cursor: pointer;
    box-shadow: 0px 10px 10px 5px  rgba(255, 0, 0, 0.4);
}

.login-sign-up{
    border: none;
    background: transparent;
    color: #7F7CFC;
    font-weight: 700;
}

.login-sign-up:hover{
    box-shadow: 0px 0px ;
    cursor: pointer;
    font-size: 1.125rem;
}

.login-login:hover{
    cursor: pointer;
    box-shadow: 0px 10px 10px 5px #B0AFD9;
}


@media screen and (max-width:1060px) {
    .login-svg{
        display: none;
    }
}


@media screen and (max-width:500px) {
    .login-label, .login-label-checkbox{
        margin-left: 10px;
        margin-right: 10px;
    }
    .login-login, .login-sign-up{
        max-width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}